{% extends "_base.html" %}

{% block title %}Quarters{% endblock title %}

{% block content %}
<a href="{% url 'family_create' month.pk %}" class="btn btn-primary">Add New Family</a>

<h4 style="color: red;">Families for Month: {{ month.report_month }}</h4>
<div class="containter mt-3">
    {% if families %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Case Number</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for family in families %}
                    <th scope="row">{{ forloop.counter }}</th>
                    <td> {{family.case_number}}</td>
                    <td> <a href="{% url 'family_update' family.pk %}">Edit Case</a>|
                        <a href="{% url 'family_delete' family.pk %}">Delete Case</a>|
                        <a href="{% url 'adult_list' family.pk %}">Adults in Case</a>|
                        <a href="{% url 'child_list' family.pk %}">Children in Case</a>|
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock content %}